/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Specify any additional parameters here
// Or any resources requirements
params {
    igenomes_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data'
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/bamtofastq/'
}

// Should resolve issue with accessing s3 from the runners
aws.client.anonymous = true
