/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenomes paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base

    Test genome key mirrors nf-core/sarek `testdata.nf-core.sarek`. Paths are
    absolute so they do not depend on profile load order for igenomes_base.
----------------------------------------------------------------------------------------
*/

params.genomes = [
    // Small test reference used by -profile test (modules test-datasets)
    'testdata.nf-core.bamtofastq' : [
        fasta     : 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta',
        fasta_fai : 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta.fai',
    ],
]
