/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/bamtofastq -profile test
 */

includeConfig 'test.config'

params {
    chr = 'chrX chrY X Y'
}