/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run qbic-pipelines/bamtofastq -profile test
 */

includeConfig 'test.config'

params {
  index_files = [
          'https://raw.githubusercontent.com/FriederikeHanssen/bamtofastq/stats/testdata/First_SmallTest_Paired.bam.bai',
          'https://raw.githubusercontent.com/FriederikeHanssen/bamtofastq/stats/testdata/Second_SmallTest_Paired.bam.bai',
          'https://raw.githubusercontent.com/FriederikeHanssen/bamtofastq/stats/testdata/wgEncodeUwRepliSeqK562G1AlnRep1.bam.bai'
          ]}