/*
 * -------------------------------------------------
 *    Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *     nextflow run qbic-pipelines/bamtofastq -profile test_cram,<docker/singularity> --outdir <OUTDIR>
 */

includeConfig 'test.config'

params {
    // Input data
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/bamtofastq/samplesheet/test_cram_samplesheet.csv'
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta'
}
