/*
 * -------------------------------------------------
 *    Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *     nextflow run qbic-pipelines/bamtofastq -profile test_cram
 */


params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h

    //cram_files = true
    input ="${projectDir}/testdata/test_cram_local.csv"  //test_cram_samplesheet.csv

    // fasta = 'ftp://ftp.broadinstitute.org/pub/seq/references/Homo_sapiens_assembly19.fasta'
    // for faster local testing
    fasta = '/home-link/afijo01/repos/bamtofastq/testdata/Homo_sapiens_assembly19.fasta'
}
